<div class="page-inner">
  <%= render "/shared/page_heading_with_subtitle",
    title: "Admin Dashboard",
    datepicker: false %>

  <div class="card card-fluid">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th style="width: 60px">Live?</th>
            <th style="min-width: 260px"> Team / Campaign </th>
            <th class="text-center"> Warnings </th>
            <th class="text-center"> Progress </th>
            <th class="text-center"> Remaining Budget </th>
            <th class="text-center"> Click Rate </th>
            <th class="text-center" style="min-width: 150px"> Impressions </th>
          </tr>
        </thead><!-- /thead -->
        <!-- tbody -->
        <tbody>
          <%= render partial: "/administrator_dashboards/tr", collection: @campaigns, as: :campaign %>
        </tbody>
      </table>
    </div>

    <% if @pagy.pages > 1 %>
      <div class="p-4">
        <ul class="pagination justify-content-center">
          <%= render "/shared/paginator" %>
        </ul>
      </div>
    <% end %>
  </div>
</div>
