<%# render "/insertion_orders/campaign" %>

<div class="container">
  <h1>Insertion Order Form</h1>
  <hr />

  <div class="row">
    <div class="col-3">
      <div class="form-group">
        <label>Budget (USD)</label>
        <%= number_field_tag :budget, @insertion_order.budget, required: true, label: "Budget (USD)", class: "form-control", data: {reflex: "input->InsertionOrdersReflex#change_total_budget"} %>
        <small class="text-muted">Usable Amount: <%= @insertion_order.budget.format %></small>
      </div>
    </div>

    <div class="col-3">
      <div class="form-group">
        <label>Dates</label>
        <%= text_field_tag :date_range, nil, required: true, label: "Start / End Date",
            class: "js-range-datepicker form-control bg-white rounded",
            data: {
              controller: "select-date-range",
              reflex: "input->InsertionOrdersReflex#change_dates",
              start_date: @insertion_order.start_date.to_s("mm/dd/yyyy"),
              end_date: @insertion_order.end_date.to_s("mm/dd/yyyy"),
            } %>
      </div>
    </div>
  </div>

  <% unless @insertion_order.budget_allocated? %>
    <%= render partial: "/insertion_orders/campaign", collection: @insertion_order.campaigns %>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <a href="" class="btn btn-lg btn-primary mt-4 text-white" data-reflex="click->InsertionOrdersReflex#add_campaign">Add Campaign</a>
        </div>
      </div>
    </div>
  <% end %>
</div>
