<div class="container" data-controller="insertion-orders">
  <h1>
    New Insertion Order
    <small><i class="fas fa-spinner text-info" hidden data-target="insertion-orders.spinner"></i></small>
  </h1>
  <hr />

  <%= render "/insertion_orders/form" %>
</div>
