<div class="card card-fluid">
  <!-- .card-header -->
  <div class="card-header border-0">
    <!-- .d-flex -->
    <div class="d-flex align-items-center">
      <span class="mr-auto">Time Spent: Projects</span> <!-- .card-header-control -->
      <div class="card-header-control">
        <!-- .dropdown -->
        <div class="dropdown">
          <button type="button" class="btn btn-icon btn-light" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-fw fa-ellipsis-v"></i></button>
          <div class="dropdown-menu dropdown-menu-right">
            <div class="dropdown-arrow"></div><a href="#" class="dropdown-item">Actions</a> <a href="#" class="dropdown-item">Goes here</a> <a href="#" class="dropdown-item">Remove</a>
          </div>
        </div><!-- /.dropdown -->
      </div><!-- /.card-header-control -->
    </div><!-- /.d-flex -->
  </div><!-- /.card-header -->
  <!-- .table-responsive -->
  <div class="table-responsive">
    <!-- .table -->
    <table class="table">
      <!-- thead -->
      <thead>
        <tr>
          <th style="min-width:260px"> Project </th>
          <th class="text-center"> Progress </th>
          <th class="text-right" style="min-width:142px"> Hours Spent </th>
        </tr>
      </thead><!-- /thead -->
      <!-- tbody -->
      <tbody>
        <!-- tr -->
        <tr>
          <td class="align-middle text-truncate">
            <a href="#" class="tile bg-blue text-white mr-2">BA</a> <a href="#">Booking App</a>
          </td>
          <td class="align-middle text-center">
            <span class="badge bg-blue text-white">35%</span>
          </td>
          <td class="align-middle text-center"> 35:28 </td>
        </tr><!-- /tr -->
        <!-- tr -->
        <tr>
          <td class="align-middle text-truncate">
            <a href="#" class="tile bg-teal text-white mr-2">SB</a> <a href="#">SVG Icon Bundle</a>
          </td>
          <td class="align-middle text-center">
            <span class="badge bg-teal text-white">32%</span>
          </td>
          <td class="align-middle text-center"> 20:39 </td>
        </tr><!-- /tr -->
        <!-- tr -->
        <tr>
          <td class="align-middle text-truncate">
            <a href="#" class="tile bg-pink text-white mr-2">SP</a> <a href="#">Syrena Project</a>
          </td>
          <td class="align-middle text-center">
            <span class="badge bg-pink text-white">93%</span>
          </td>
          <td class="align-middle text-center"> 35:28 </td>
        </tr><!-- /tr -->
        <!-- tr -->
        <tr>
          <td class="align-middle text-truncate">
            <a href="#" class="tile bg-green text-white mr-2">MG</a> <a href="#">Mobile App Gex</a>
          </td>
          <td class="align-middle text-center">
            <span class="badge bg-green text-white">100%</span>
          </td>
          <td class="align-middle text-center"> 35:10 </td>
        </tr><!-- /tr -->
        <!-- tr -->
        <tr>
          <td class="align-middle text-truncate">
            <a href="#" class="tile bg-red text-white mr-2">LB</a> <a href="#">Landing Page Booster</a>
          </td>
          <td class="align-middle text-center">
            <span class="badge bg-red text-white">100%</span>
          </td>
          <td class="align-middle text-center"> 21:21 </td>
        </tr><!-- /tr -->
      </tbody><!-- /tbody -->
    </table><!-- /.table -->
  </div><!-- /.table-responsive -->
  <!-- .card-footer -->
  <div class="card-footer">
    <a href="#" class="card-footer-item">View report <i class="fa fa-fw fa-angle-right"></i></a>
  </div><!-- /.card-footer -->
</div>
